<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Buchungen</title>
</head>
<body>
<div th:each="buchung : ${buchungen}">
    <span>ID </span><span th:text="${buchung.id}"></span></br><hr>
    <span>Kunden </span><span th:text="${buchung.kunden}"></span></br><hr>
    <span>Zimmer </span><span th:text="${buchung.zimmer}"></span></br><hr>
    <span>Von </span><span th:text="${buchung.von}"></span></br><hr>
    <span>Bis </span><span th:text="${buchung.bis}"></span></br><hr>
</div>

</body>
</html>
