<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Meine Zimmer Liste</title>
    <link th:href="@{/styles/homePage.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/javascript/homePage.js}"></script>
</head>
<body>

    <header>
        Amo Hotel Rezeption<img th:src="@{/images/AmoHotel.png}" alt="AmoHotel Logo" width="2%">
        <div id="three_line_menu" th:onclick="myFunction(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
    </header>
<div class="search_filter">
    <input type="text" id="search_input" placeholder="Zimmer Nummer suchen" onkeyup="filterZimmer()">

    <select id="filter" onchange="filterZimmer()">
        <option value="" disabled selected>Filtern</option>
        <option value="alleZimmer">Alle Zimmer</option>
        <option value="einzelZimmer">Einzel Zimmer</option>
        <option value="doppelZimmer">Doppel Zimmer</option>
        <option value="suite">Suite</option>
    </select>
</div>
<div th:fragment="zimmer">
    <div class="row">
        <div id="logo">
            <img th:src="@{/images/AmoHotel.png}" alt="AmoHotel Logo" width="25%"
            style="display: block;
      margin-left: auto;
      margin-right: auto;
      width: 10%;">
        </div>
    </div>

    <div class="zimmer-container">
        <div th:each="zimmer, imageName : ${zimmerList}" class="zimmer">
            <span>Zimmer </span><span th:text="${zimmer.zimmerNr}">Zimmer Nr.</span>
            <p th:text="${zimmer.ausstattung}">Ausstattung</p>
            <p th:text="${zimmer.details}">Details</p>
            <p th:text="${zimmer.preisProNacht}">Preis pro Nacht</p>
            <img th:src="@{/images/homePagePics/{index}.jpg(index=${imageName.index + 1})}" alt="Zimmer Logo"
                 width="100px" height="100px">
            <div>
                <button th:onclick="|booking(${zimmer.zimmerNr})|">Jetzt buchen</button>
                <button>Mehr</button>
            </div>
        </div>
    </div>
</div>
<footer>
    &copy; 2024 AmoHotel. All rights reserved.
</footer>
</body>
</html>

