<!--<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Zimmer Buchen</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <link th:href="@{/styles/login.css}" rel="stylesheet" />
</head>
<body>
        <form action="#">
            <h3>Login Here</h3>

                <label  for="username">Benutzername</label>
                <input type="text" name="username" placeholder="Benutzername " id="username" />

                <label  for="password">Password</label>
                <input type="text" name="password" placeholder="Password " id="password" />
            <button>Log In</button>
            <div class="social">
                <div class="go"><i class="fab fa-google"></i>Google</div>
                <div class="fb"><i class="fab fa-facebook"></i>Facebook</div>

            </div>
        </form>
</body>
</html>
-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Zimmer Buchen</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <style>
       
    </style>
</head>
<body>
<form th:action="@{/login}" method="post">
    <h3>Login Here</h3>

    <label> User Name : <input type="text" name="username" id="username"/> </label>

    <label> Password: <input type="password" name="password" id="password"/> </label>

    <button type="submit" value="Sign In"></button>
    <div class="social">
        <div class="go"><i class="fab fa-google"></i>Google</div>
        <div class="fb"><i class="fab fa-facebook"></i>Facebook</div>

    </div>
</form>
</body>
</html>
