<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Zimmer Details</title>
    <link th:href="@{/styles/zimmerDetails.css}" rel="stylesheet" />

</head>
<body>
<header>
    Amo Hotel Rezeption <img th:src="@{/images/AmoHotel.png}" alt="AmoHotel Logo" width="2%">
    <a th:href="@{/homePage}" class="back-link">Zurück zum Home Page</a>
    <span>Details für Zimmer Nummer </span><span id="zimmerNr" th:text="${zimmer.zimmerNr}"></span> <br>
</header>

<!-- Die src von den Bilder stammt aus dem Javascript -->
<div class="zimmerPics">
    <img th:id="'photo1-' + ${zimmer.zimmerNr}" src="" alt="Zimmer Foto" th:data-zimmerNr="${zimmer.zimmerNr}" width="20%" height="20%">

    <img th:id="'photo2-' + ${zimmer.zimmerNr}" src="" alt="Zimmer Foto" th:data-zimmerNr="${zimmer.zimmerNr}" width="20%" height="20%">

    <img th:id="'photo3-' + ${zimmer.zimmerNr}" src="" alt="Zimmer Foto" th:data-zimmerNr="${zimmer.zimmerNr}" width="20%" height="20%">
</div>

<h5>Alle Zimmer Details</h5>

<p th:text="${zimmer.ZimmerNr}"></p>
<p th:text="${zimmer.ausstattung}"></p>
<p th:text="${zimmer.details}"></p>
<p th:text="${zimmer.preisProNacht}"></p>

<!-- Details für Einzel Zimmer -->
<div id="doppelZimmer" class="zimmerDetails">
    <h3 th:text="'Zimmer ' + ${zimmer.zimmerNr}"></h3>
    <p>Es ist Doppel Zimmer, hier sind alle details über doppelZimmer. Provident mollitia sit temporibus aliquid <br>
        dolorum in ratione similique accusamus voluptatum ad sint eius sunt commodi nam odio eos quibusdam, esse <br>
        dolorum in ratione similique accusamus voluptatum ad sint eius sunt commodi nam odio eos quibusdam, esse <br>
        ipsam quod optio porro. Tempore expedita dolorum placeat sit fuga dolore ipsa est et officiis illo aperiam <br>
        necessitatibus, consectetur odit reprehenderit quis ea vero voluptates, reindis nobis sapiente nulla! Quo<br>
        dolorum nostrum doloribus! Facilis obcaecati esse laudantium officiis, molestiae ipsum ea est quasi quos<br>
        similique ullam a doloremque ipsa suscipit mollitia aliquid ex error rem autem eveniet reiciendis nisi<br>
        adipisci atque! Eius, quibusdam laboriosam quis modi dignissimos cum esse sunt iste dolorum atque quas<br>
        expedita adipisci ipsum id totam neque deleniti, corporis eum, nemo illo? Ab labore itaque eos. Provident<br>
        modi quo quasi nemo similique maxime blanditiis culpa est quia dignissimos asperiores ab iste quis<br>
        consectetur unde maiores, magnam ipsum et dolores qui? Alias facere tione ipsum possimus neque aperiam quo<br>
        repellendus vero voluptatibus perferendis cumque, a, earum odit dolor? Quo harum officia explicabo est<br>
        ullam. Similique aliquid labore nisi? Facere veritatis voluptatibus neque odit at vero fuga cum dolorum<br>
        maxime sapiente quibusdam quae labore quidem qui aliquid tenetur molestiae, aspernatur impedit aliquam.<br>
        Culpa at eum tempore accusamus asperiores animi?</p>

</div>
<!-- Details für Suite -->
<div id="suite" class="zimmerDetails">
    <h3 th:text="'Zimmer ' + ${zimmer.zimmerNr}"></h3>
    <p>Es ist ein Suite und hier sind alle details über Suite. Provident mollitia adipisci sit temporibus aliquid <br>
        dolorum in ratione similique accusamus voluptatum ad sint eius sunt commodi nam odio eos quibusdam, esse <br>
        dolorum in ratione similique accusamus voluptatum ad sint eius sunt commodi nam odio eos quibusdam, esse <br>
        ipsam quod optio porro. Tempore expedita dolorum placeat sit fuga dolore ipsa est et officiis illo aperiam <br>
        necessitatibus, consectetur odit reprehenderit quis ea vero voluptates, reindis nobis sapiente nulla! Quo<br>
        dolorum nostrum doloribus! Facilis obcaecati esse laudantium officiis, molestiae ipsum ea est quasi quos<br>
        similique ullam a doloremque ipsa suscipit mollitia aliquid ex error rem autem eveniet reiciendis nisi<br>
        adipisci atque! Eius, quibusdam laboriosam quis modi dignissimos cum esse sunt iste dolorum atque quas<br>
        expedita adipisci ipsum id totam neque deleniti, corporis eum, nemo illo? Ab labore itaque eos. Provident<br>
        modi quo quasi nemo similique maxime blanditiis culpa est quia dignissimos asperiores ab iste quis<br>
        consectetur unde maiores, magnam ipsum et dolores qui? Alias facere tione ipsum possimus neque aperiam quo<br>
        repellendus vero voluptatibus perferendis cumque, a, earum odit dolor? Quo harum officia explicabo est<br>
        ullam. Similique aliquid labore nisi? Facere veritatis voluptatibus neque odit at vero fuga cum dolorum<br>
        maxime sapiente quibusdam quae labore quidem qui aliquid tenetur molestiae, aspernatur impedit aliquam.<br>
        Culpa at eum tempore accusamus asperiores animi?</p>

</div>

<!-- Details für Doppel Zimmer -->
<div id="einzelZimmer" class="zimmerDetails">
    <h3 th:text="'Zimmer ' + ${zimmer.zimmerNr}"></h3>
    <p>Es ist ein Einzel Zimmer und hier sind alle details über Einzel Zimmer. Provident mollitia adipisci aliquid <br>
        dolorum in ratione similique accusamus voluptatum ad sint eius sunt commodi nam odio eos quibusdam, esse <br>
        dolorum in ratione similique accusamus voluptatum ad sint eius sunt commodi nam odio eos quibusdam, esse <br>
        ipsam quod optio porro. Tempore expedita dolorum placeat sit fuga dolore ipsa est et officiis illo aperiam <br>
        necessitatibus, consectetur odit reprehenderit quis ea vero voluptates, reindis nobis sapiente nulla! Quo<br>
        dolorum nostrum doloribus! Facilis obcaecati esse laudantium officiis, molestiae ipsum ea est quasi quos<br>
        similique ullam a doloremque ipsa suscipit mollitia aliquid ex error rem autem eveniet reiciendis nisi<br>
        adipisci atque! Eius, quibusdam laboriosam quis modi dignissimos cum esse sunt iste dolorum atque quas<br>
        expedita adipisci ipsum id totam neque deleniti, corporis eum, nemo illo? Ab labore itaque eos. Provident<br>
        modi quo quasi nemo similique maxime blanditiis culpa est quia dignissimos asperiores ab iste quis<br>
        consectetur unde maiores, magnam ipsum et dolores qui? Alias facere tione ipsum possimus neque aperiam quo<br>
        repellendus vero voluptatibus perferendis cumque, a, earum odit dolor? Quo harum officia explicabo est<br>
        ullam. Similique aliquid labore nisi? Facere veritatis voluptatibus neque odit at vero fuga cum dolorum<br>
        maxime sapiente quibusdam quae labore quidem qui aliquid tenetur molestiae, aspernatur impedit aliquam.<br>
        Culpa at eum tempore accusamus asperiores animi?</p>

</div>


<!-- Diese Codezeilen helfen beim Zugriff auf von in bis in Javascript -->
<div th:each="buchung : ${buchungList}"
     th:data-von="${buchung.von}"
     th:data-bis="${buchung.bis}"
     class="buchung">
    <!-- Diese zwei zeilen sind zum Testen und können gelöscht werden. -->
    <p th:text="${buchung.von}"></p>
    <p th:text="${buchung.bis}"></p>
</div>

<!-- Dies sind die Wochentage für die Tage in jedem Monat, die Tage würden durch Javascript generiert -->
<div class="calendar-container">
    <div id="calendar" class="calendar">
        <div class="header">So</div>
        <div class="header">Mo</div>
        <div class="header">Di</div>
        <div class="header">Mi</div>
        <div class="header">Do</div>
        <div class="header">Fr</div>
        <div class="header">Sa</div>
    </div>

    <div id="calendar2" class="calendar">
        <div class="header">So</div>
        <div class="header">Mo</div>
        <div class="header">Di</div>
        <div class="header">Mi</div>
        <div class="header">Do</div>
        <div class="header">Fr</div>
        <div class="header">Sa</div>
    </div>

    <div id="calendar3" class="calendar">
        <div class="header">So</div>
        <div class="header">Mo</div>
        <div class="header">Di</div>
        <div class="header">Mi</div>
        <div class="header">Do</div>
        <div class="header">Fr</div>
        <div class="header">Sa</div>
    </div>

    <div id="calendar4" class="calendar">
        <div class="header">So</div>
        <div class="header">Mo</div>
        <div class="header">Di</div>
        <div class="header">Mi</div>
        <div class="header">Do</div>
        <div class="header">Fr</div>
        <div class="header">Sa</div>
    </div>


</div>
<script type="text/javascript" th:src="@{/javascript/zimmerDetails.js}"></script>
</body>
</html>
