<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Zimmer Details</title>
    <link th:href="@{/styles/zimmerDetails.css}" rel="stylesheet" />
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <link th:href="@{/styles/darkMode.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/javascript/darkMode.js}"></script>
</head>
<body>
<header>
    Amo Hotel Rezeption <img th:src="@{/images/AmoHotel.png}" alt="AmoHotel Logo" width="2%">
</header>
<div class="back-button">
    <button><a th:href="@{/homePage}" class="back-link">Zurück</a></button>
</div>
<!-- Die src von den Bilder stammt aus dem Javascript -->
<div class="zimmerPics">
    <img th:id="'photo1-' + ${zimmer.zimmerNr}" src="" alt="Zimmer Foto" th:data-zimmerNr="${zimmer.zimmerNr}" width="20%" height="20%">

    <img th:id="'photo2-' + ${zimmer.zimmerNr}" src="" alt="Zimmer Foto" th:data-zimmerNr="${zimmer.zimmerNr}" width="20%" height="20%">

    <img th:id="'photo3-' + ${zimmer.zimmerNr}" src="" alt="Zimmer Foto" th:data-zimmerNr="${zimmer.zimmerNr}" th:data-ausstattung="${zimmer.ausstattung}" width="20%" height="20%">
</div>

<div class="text-block">
    <div id="style-tabel">
        <table class="center">
            <tr>
                <td><span>Zimmer Nr &emsp;</span><i class="fa-solid fa-door-open"></i></td>
                <td><span>Nummar </span><span th:text="${zimmer.zimmerNr}"></span></td>
            </tr>
            <tr>
                <td><span>Ausstattung&emsp;<i class="fa-solid fa-bed"></i></span></td>
                <td><p th:text="${zimmer.ausstattung}" id="zimmer-ausstattung"></p></td>
            </tr>
            <tr>
                <td><span>Details &emsp; <i class="fa fa-wifi"></i><i class="fa fa-bath"></i><i
                        class="fa fa-tv"></i></span></td>
                <td><p th:text="${zimmer.details}"></p></td>
            </tr>
            <tr>
                <td><span>Preis pro Nacht  &emsp; <i class="fa fa-tag"></i> </span></td>
                <td><p th:text="${zimmer.preisProNacht}"></p></td>
            </tr>
        </table>
    </div>
</div>

<!-- Details für Einzel Zimmer -->
<div id="doppelZimmer" class="zimmerDetails">
    <h3 th:text="'Zimmer ' + ${zimmer.zimmerNr}"></h3>
    <p>Das Doppelzimmer bietet idealen Komfort für zwei Personen.
        Es ist geräumig und stilvoll eingerichtet, mit zwei bequemen Betten oder einem großen Doppelbett,
        je nach Wunsch. Zur Ausstattung gehören außerdem ein Schreibtisch, ein Kleiderschrank,
        ein Fernseher und ein eigenes Bad. Viele Doppelzimmer bieten zudem einen schönen Ausblick,
        entweder auf die Stadt oder auf die umliegende Natur. Es ist perfekt für Paare,
        Freunde oder Familienmitglieder, die gemeinsam reisen und eine entspannte Atmosphäre genießen
        möchten.</p>
</div>
<!-- Details für Suite -->
<div id="suite" class="zimmerDetails">
    <h3 th:text="'Zimmer ' + ${zimmer.zimmerNr}"></h3>
    <p>Eine Suite bietet luxuriösen Komfort und viel Platz für einen unvergesslichen Aufenthalt.
        Sie besteht in der Regel aus einem separaten Schlafzimmer, einem großzügigen Wohnbereich und
        einem luxuriösen Badezimmer. Die elegante Einrichtung und die hochwertigen Möbel schaffen eine
        exklusive Atmosphäre. Einige Suiten verfügen zudem über besondere Annehmlichkeiten wie einen Balkon,
        eine eigene Küche oder einen Whirlpool. Die Suite ist ideal für Gäste, die besonderen Wert auf
        Privatsphäre, Komfort und zusätzlichen Raum legen.</p>
</div>

<!-- Details für Doppel Zimmer -->
<div id="einzelZimmer" class="zimmerDetails">
    <h3 th:text="'Zimmer ' + ${zimmer.zimmerNr}"></h3>
    <p>Das Einzelzimmer ist ideal für Alleinreisende, die Ruhe und Privatsphäre suchen.
        Es ist gemütlich eingerichtet und verfügt über ein bequemes Bett, einen Schreibtisch,
        einen Kleiderschrank und ein eigenes Bad. Ein großer Vorteil des Einzelzimmers ist die Ruhe,
        da es oft abseits der Hauptverkehrswege des Hotels liegt.
        Kostenloses WLAN und ein Flachbildfernseher gehören ebenfalls zur Ausstattung.
        Es bietet den perfekten Rückzugsort nach einem langen Tag.</p>

</div>

<!-- Diese Codezeilen helfen beim Zugriff auf von in bis in Javascript -->
<div th:each="buchung : ${buchungList}"
     th:data-von="${buchung.von}"
     th:data-bis="${buchung.bis}"
     class="buchung">
</div>

<!-- Dies sind die Wochentage für die Tage in jedem Monat, die Tage würden durch Javascript generiert -->
<div class="calendar-container">

    <div class="calendar-wrapper">
        <h1 th:text="${currentMonth}"></h1>
        <div id="calendar" class="calendar">
            <div class="header">So</div>
            <div class="header">Mo</div>
            <div class="header">Di</div>
            <div class="header">Mi</div>
            <div class="header">Do</div>
            <div class="header">Fr</div>
            <div class="header">Sa</div>
        </div>
    </div>


    <div class="calendar-wrapper">
        <h1 th:text="${nextMonth}"></h1>
        <div id="calendar2" class="calendar">
            <div class="header">So</div>
            <div class="header">Mo</div>
            <div class="header">Di</div>
            <div class="header">Mi</div>
            <div class="header">Do</div>
            <div class="header">Fr</div>
            <div class="header">Sa</div>
        </div>
    </div>

    <div class="calendar-wrapper">
        <h1 th:text="${thirdMonth}"></h1>
        <div id="calendar3" class="calendar">
            <div class="header">So</div>
            <div class="header">Mo</div>
            <div class="header">Di</div>
            <div class="header">Mi</div>
            <div class="header">Do</div>
            <div class="header">Fr</div>
            <div class="header">Sa</div>
        </div>
    </div>


    <div class="calendar-wrapper">
        <h1 th:text="${fourthMonth}"></h1>
        <div id="calendar4" class="calendar">
            <div class="header">So</div>
            <div class="header">Mo</div>
            <div class="header">Di</div>
            <div class="header">Mi</div>
            <div class="header">Do</div>
            <div class="header">Fr</div>
            <div class="header">Sa</div>
        </div>
    </div>

</div>
<footer>
    &copy; 2024 AmoHotel. All rights reserved.
</footer>
<script type="text/javascript" th:src="@{/javascript/zimmerDetails.js}"></script>
</body>
</html>
